{
  "presets": [
    [
      "next/babel"
    ],
    [
      "@babel/preset-env",
      {
          "targets": {
             "chrome": "41"
          },
          "useBuiltIns": "entry"
      }
  ]
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
